<div *ngIf="(selectedDirectory | async) as selectedDirectory">
  <img class="full-page" src="{{selectedDirectory?.frontCoverDataUrl}}" alt="front cover">
  <div class="full-page" [innerHTML]="selectedDirectory.titlePageHTML"></div>
  <img class="full-page" src="{{selectedDirectory?.map1DataUrl}}" alt="map one">
  <img class="full-page" src="{{selectedDirectory?.map2DataUrl}}" alt="map two">
  <img class="full-page" src="{{selectedDirectory?.map3DataUrl}}" alt="map three">
  <div class="introduction" [innerHTML]="selectedDirectory.introductionHTML"></div>
  <app-directory [hideSearch]="true"></app-directory>
  <div class="full-page" *ngIf="selectedDirectory?.addExtraPageBreak"></div>
  <img src="{{selectedDirectory?.backCoverDataUrl}}" alt="back cover">
</div>
