<div *ngIf="(selectedDirectory | async) as selectedDirectory">
  <img class="full-page" src="{{selectedDirectory?.frontCoverDataUrl}}" alt="front cover">
  <div class="full-page"></div>
  <div class="full-page title-page" [innerHTML]="selectedDirectory.titlePageHTML"></div>
  <app-map [quadrant]="1"></app-map>
  <app-map [quadrant]="2"></app-map>
  <app-map [quadrant]="3"></app-map>
  <app-map [quadrant]="4"></app-map>
  <div class="introduction" [innerHTML]="selectedDirectory.introductionHTML"></div>
  <app-directory [hideSearch]="true"></app-directory>
  <div class="full-page" *ngIf="selectedDirectory?.addExtraPageBreak"></div>
  <img src="{{selectedDirectory?.backCoverDataUrl}}" alt="back cover">
</div>
