<div *ngIf="(selectedDirectory | async) as selectedDirectory">
  <img class="full-page" src="{{selectedDirectory?.frontCoverDataUrl}}" alt="front cover">
  <app-map *ngIf="includeMap" [pageCount]="4" [pageNumber]="1"></app-map>
  <app-map *ngIf="includeMap" [pageCount]="4" [pageNumber]="2"></app-map>
  <app-map *ngIf="includeMap" [pageCount]="4" [pageNumber]="3"></app-map>
  <app-map *ngIf="includeMap" [pageCount]="4" [pageNumber]="4"></app-map>
  <app-directory [hideSearch]="true"></app-directory>
  <div class="full-page" *ngIf="selectedDirectory?.addExtraPageBreak"></div>
  <img src="{{selectedDirectory?.backCoverDataUrl}}" alt="back cover">
</div>
