mat-form-field {
    margin-top: 15px;
    width: 100%;
}

.outerWrapper {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    margin-top: 15px;
}

th {
    width: 100px;
}

.spacer-row {
    height: 15px;
}

.by-surname .surname {
    font-weight: bold;
}

.by-surname .homePhone {
    font-weight: bold;
}

.large-text {
    font-size: large;
}

.large-text th {
    width: 200px;
}

.align-right {
    text-align: right;
}

.directoryView {
    margin-top: 15px;
}

.byAddressView .home {
    margin-bottom: 10px;
}

.byAddressView .homeAddress {
    font-weight: bold;
    font-size: larger;
}

.byAddressView .residents {
    display: flex;
}

.byAddressView .residentName {
    margin-left: 10px;
    width: 125px;
}

.byAddressView .residentPhone {
    display: flex;
    margin-left: 20px;
}

.byAddressView .phoneType {
    width: 50px;
}

.byAddressView .phoneNumber {
    width: 100px;
}

.byAddressView .residentEmail {
    display: flex;
    margin-left: 20px;
}

.byAddressView .emailLabel {
    width: 50px;
}

.byAddressView .emailAddress {
    width: 150px;
}

mat-spinner {
    margin-top: 15px;
}