mat-form-field {
    margin-top: 15px;
    width: 100%;
}

.outerWrapper {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    margin-top: 15px;
}

th {
    width: 100px;
}

.spacer-row {
    height: 15px;
}

.by-surname .surname {
    font-weight: bold;
}

.by-surname .homePhone {
    font-weight: bold;
}

.large-text {
    font-size: large;
}

.large-text th {
    width: 200px;
}

.align-right {
    text-align: right;
}

mat-spinner {
    margin-top: 15px;
}