<div class="outerWrapper">
  <div>
    <mat-form-field *ngIf="hideSearch !== true" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput [formControl]="homeFilter">
    </mat-form-field>

    <div *ngFor="let home of (itemsToRender | async)">
      <div class="home" [ngClass]="{ 'large-screen': hideSearch }" *ngIf="getHomeowners(home).length > 0">

        <!-- Home header row: surname + address left, home phone/email right -->
        <div class="homeRow">
          <div class="homeLeft">
            <div class="names">
              <span class="surname">{{getSurname(home)}}</span>, {{getGivenNames(home)}}
            </div>
            <div class="homeAddress">
              {{home.streetNumber}} {{home.streetName}}
            </div>
          </div>
          <div class="homeRight" *ngIf="home.phoneNumber || home.emailAddress">
            <div class="contactLine" *ngIf="home.phoneNumber">
              <mat-icon class="contactIcon" aria-hidden="true">phone</mat-icon>
              <span>({{home.phoneNumber.areaCode}}) {{home.phoneNumber.prefix}}-{{('0000' + home.phoneNumber.lineNumber).slice(-4)}}</span>
            </div>
            <div class="contactLine" *ngIf="home.emailAddress">
              <mat-icon class="contactIcon" aria-hidden="true">mail</mat-icon>
              <span>{{home.emailAddress.address}}</span>
            </div>
          </div>
        </div>

        <!-- Residents (shown when any adult has contact info, or when non-homeowner adults need listing) -->
        <div class="residentsSection" *ngIf="shouldShowResidents(home)">
          <div class="residentRow" *ngFor="let resident of getVisibleResidents(home)">
            <div class="residentName">
              {{resident.givenName}} <span class="residentSurname">{{resident.surname}}</span>
            </div>
            <div class="residentContact" *ngIf="resident.phoneNumbers?.length || resident.emailAddresses?.length">
              <div class="contactLine" *ngFor="let phoneNumber of resident.phoneNumbers">
                <mat-icon class="contactIcon" aria-hidden="true">phone</mat-icon>
                <span class="contactDetail">
                  <span class="contactType">{{phoneNumber.type}}</span>
                  ({{phoneNumber.areaCode}}) {{phoneNumber.prefix}}-{{('0000' + phoneNumber.lineNumber).slice(-4)}}
                </span>
              </div>
              <div class="contactLine" *ngFor="let email of resident.emailAddresses">
                <mat-icon class="contactIcon" aria-hidden="true">mail</mat-icon>
                <span>{{email.address}}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Children -->
        <ng-container *ngIf="getChildren(home).length > 0">
          <div class="childrenSection">
            <span class="childrenLabel">Children: </span>
            <ng-container *ngFor="let resident of getChildren(home); let last = last">
              <span class="childInline">
                <span class="childName">{{resident.givenName}}</span>
                <span *ngIf="resident.yearOfBirth !== 0" class="childMeta"> ({{resident.yearOfBirth}})</span>
                <span *ngIf="resident.collegeName" class="childMeta"> · {{resident.collegeName}}</span>
              </span>
              <span *ngIf="!last">, </span>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>

    <mat-spinner *ngIf="showSpinner | async"></mat-spinner>
  </div>

</div>
