<app-header imagePath="assets/sign1.jpg"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md text-md-right">
      <h1 class="display-4">What We Do</h1>
    </div>
    <div class="col-md">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique purus a nisi pharetra, id elementum
        est blandit. Morbi id augue nec libero aliquet interdum. Quisque malesuada diam et suscipit aliquet. Sed sit
        amet sollicitudin sem. Nam nec justo sodales, auctor lorem sed, imperdiet tortor. Vivamus euismod sed felis quis
        vulputate. Nullam porta odio ut velit scelerisque accumsan.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md text-md-right">
      <h1 class="display-4">Who We Are</h1>
    </div>
    <div class="col-md">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique purus a nisi pharetra, id elementum
        est blandit. Morbi id augue nec libero aliquet interdum. Quisque malesuada diam et suscipit aliquet. Sed sit
        amet sollicitudin sem. Nam nec justo sodales, auctor lorem sed, imperdiet tortor. Vivamus euismod sed felis quis
        vulputate. Nullam porta odio ut velit scelerisque accumsan.</p>
    </div>
  </div>
</div>