<div>
  <div>
    <h2>Print Directory</h2>
  </div>
  <div class="button-row">
    <div>
      <a mat-raised-button color="primary" routerLink="/rendered-print-directory">Print Directory</a>
    </div>
    <div>
      <a mat-raised-button color="primary" routerLink="/rendered-print-map">Print Map</a>
    </div>
  </div>
  <mat-card class="pd-card">
    <p>Print settings for the directory must be <strong>5x8 paper</strong> in <strong>portrait mode</strong> to achieve the intended result.</p>
    <p>Print settings for the map must be <strong>letter size paper</strong> in <strong>landscape mode</strong> to achieve the intended result.</p>
  </mat-card>
</div>
