<ng-container *ngIf="{ handset: isHandset$ | async } as vm">
    <mat-sidenav-container class="manage-container">
        <mat-sidenav
            #sidenav
            class="manage-nav"
            [mode]="vm.handset ? 'over' : 'side'"
            [opened]="!vm.handset"
            [disableClose]="!vm.handset">
            <nav aria-label="Manage navigation">
                <ng-container *ngFor="let group of visibleGroups$ | async">
                    <h2 class="manage-nav-group" id="manage-group-{{ group.label }}">{{ group.label }}</h2>
                    <mat-nav-list [attr.aria-labelledby]="'manage-group-' + group.label">
                        <a
                            mat-list-item
                            *ngFor="let item of group.items"
                            [routerLink]="item.route"
                            routerLinkActive="active-link"
                            #rla="routerLinkActive"
                            [attr.aria-current]="rla.isActive ? 'page' : null"
                            (click)="vm.handset && sidenav.close()">
                            <mat-icon matListItemIcon aria-hidden="true">{{ item.icon }}</mat-icon>
                            <span matListItemTitle>{{ item.label }}</span>
                            <span matListItemMeta *ngIf="item.badgeCount$ | async as count">
                                <span class="manage-nav-badge" [attr.aria-label]="count + ' awaiting review'">{{ count }}</span>
                            </span>
                        </a>
                    </mat-nav-list>
                </ng-container>
            </nav>
        </mat-sidenav>

        <mat-sidenav-content class="manage-content-pane">
            <button type="button" mat-stroked-button class="manage-menu-toggle" *ngIf="vm.handset" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
                Manage menu
            </button>
            <div class="manage-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>
