.manage-container {
    min-height: 80vh;
    margin: 20px;
}

nav[mat-tab-nav-bar] {
    margin-bottom: 16px;
}

.manage-content {
    width: 100%;
}

@media (max-width: 640px) {
    .manage-container {
        margin: 12px;
    }
}
