<div class="manage-container">
    <div class="top-nav">
        <a mat-flat-button class="top-nav-button" color="primary" routerLink="users" routerLinkActive="mat-accent"
            *ngIf="manageUsersVisible$ | async">Users</a>
        <a mat-flat-button class="top-nav-button" color="primary" routerLink="homes" routerLinkActive="mat-accent"
            *ngIf="manageHomesVisible$ | async">Homes</a>
        <a mat-flat-button class="top-nav-button" color="primary" routerLink="send-email" routerLinkActive="mat-accent"
            *ngIf="manageEmailVisible$ | async">Send Email</a>
        <a mat-flat-button class="top-nav-button" color="primary" routerLink="print" routerLinkActive="mat-accent"
            *ngIf="printDirectoryVisible$ | async">Print Directory</a>
        <a mat-flat-button class="top-nav-button" color="primary" routerLink="documents" routerLinkActive="mat-accent"
            *ngIf="manageDocumentsVisible$ | async">Documents</a>
        <a mat-flat-button class="top-nav-button" color="primary" routerLink="events" routerLinkActive="mat-accent"
            *ngIf="manageEventsVisible$ | async">Events</a>
        <a mat-flat-button class="top-nav-button" color="primary" routerLink="audit-log" routerLinkActive="mat-accent"
            *ngIf="manageAuditVisible$ | async">Audit Log</a>
    </div>

    <div class="manage-content">
        <router-outlet></router-outlet>
    </div>
</div>
