<mat-drawer-container class="example-container">
    <mat-drawer class="side-drawer" mode="side" opened>
        <div *ngIf="manageUsersVisible$ | async"><a mat-flat-button class="side-nav-button" color="primary" routerLink="users"
                routerLinkActive="mat-accent">Users</a></div>
        <div *ngIf="manageHomesVisible$ | async"><a mat-flat-button class="side-nav-button" color="primary" routerLink="homes"
                routerLinkActive="mat-accent">Homes</a></div>
        <div *ngIf="manageEmailVisible$ | async"><a mat-flat-button class="side-nav-button" color="primary" routerLink="send-email"
                routerLinkActive="mat-accent">Send Email</a></div>
        <div *ngIf="printDirectoryVisible$ | async"><a mat-flat-button class="side-nav-button" color="primary" routerLink="print-directory"
                routerLinkActive="mat-accent">Print Directory</a></div>
        <div *ngIf="manageAuditVisible$ | async"><a mat-flat-button class="side-nav-button" color="primary" routerLink="audit-log"
                routerLinkActive="mat-accent">Audit Log</a></div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="drawer-content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
