<app-header imagePath="assets/trees1.jpg"></app-header>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="font-weight-lighter">{{ date | date }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id arcu ultricies, tincidunt erat nec, pulvinar odio. Praesent dapibus libero eu ipsum tincidunt, nec convallis lectus auctor. Praesent suscipit mattis massa vel volutpat. Quisque eu risus non elit vestibulum finibus vitae sit amet ligula. Nam ipsum nibh, ultricies lacinia venenatis eget, ullamcorper nec eros. Suspendisse metus tellus, semper sed sapien ac, accumsan maximus libero. Curabitur mattis lacus vel varius molestie.</p>
      <p>In sit amet nulla venenatis, gravida risus non, mollis nunc. Pellentesque euismod fringilla nibh sed mollis. Phasellus a arcu finibus diam tincidunt volutpat. Fusce suscipit efficitur felis vitae iaculis. Donec volutpat, nunc vitae tincidunt sodales, orci libero consequat diam, in venenatis magna orci suscipit ligula. Suspendisse aliquet, lectus efficitur scelerisque volutpat, velit metus bibendum erat, ullamcorper euismod nibh ipsum ut odio. Curabitur congue elementum eros, in blandit tortor dictum lobortis.</p>
    </div>
  </div>
</div>