/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body { 
    margin: 0; 
    padding-top: 55px;
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: column;
}

.flexbox-filler {
    /* This fills the remaining space, by using flexbox. 
        Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.flexbox-vertical-filler:after {
    content: '\200b';
}

.flexbox-vertical-filler {
    margin-top: auto;
}
