.outer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../assets/trees1.jpg);
  background-size: cover;
  height: 100vh;
}

.white-background {
  background-color: white;
  padding: 20px;
}

.outer-wrapper > div {
  max-width: 614px;
}

.outer-wrapper > :nth-child(1) {
  margin-top: 20px;
}

.payment-description {
  margin-bottom: 20px;
}

.transaction-section {
  width: 100%;
}

table {
  width: 100%;
}
