<app-header imagePath="assets/jack1.jpg"></app-header>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="font-weight-lighter">Make a Payment</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">COHAD Dues - $200</h5>
          <p class="card-text">Select this option to make an immediate one-time payment of $200, which covers COHAD dues
            for one year.</p>
          <button class="btn btn-primary" (click)="openCheckout(false)" [disabled]="disableButtons">Pay Once</button>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">COHAD Dues - $200/year</h5>
          <p class="card-text">Select this option to pay COHAD dues automatically every year. Cancel any time by
            returning to
            this page.</p>
          <button class="btn btn-primary" (click)="openCheckout(true)" [disabled]="disableButtons">Autopay
            Annually</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <h1 class="font-weight-lighter">Recurring Payments</h1>
    </div>
  </div>
  <div class="row" *ngIf="apiCallInProgress">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row" *ngIf="!apiCallInProgress && !hasSubscriptions">
    <div class="col">
      <p>No recurring payments have been set up.</p>
    </div>
  </div>
  <div class="row" *ngIf="!apiCallInProgress && hasSubscriptions">
    <table class="table">
      <thead>
        <tr>
          <th rowspan="2">Created</th>
          <th rowspan="2">Amount</th>
          <th rowspan="2">Status</th>
          <th colspan="4">Payment Info</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Number</th>
          <th>Expiration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sub of subscriptions">
          <td>{{sub.created | date:'medium'}}</td>
          <td>{{sub.amount / 100 | currency}} every {{sub.intervalCount}} {{sub.interval}}</td>
          <td>{{sub.status}}</td>
          <td>{{sub.name}}</td>
          <td>{{sub.brand}}</td>
          <td>•••• {{sub.last4}}</td>
          <td>{{sub.expMonth}} / {{sub.expYear}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row mt-3">
    <div class="col">
      <h1 class="font-weight-lighter">One-time Payments</h1>
    </div>
  </div>
  <div class="row" *ngIf="apiCallInProgress">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row" *ngIf="!apiCallInProgress && !hasChargeHistory">
    <div class="col">
      <p>No one-time payments were found.</p>
    </div>
  </div>
  <div class="row" *ngIf="!apiCallInProgress && hasChargeHistory">
    <table class="table">
      <thead>
        <tr>
          <th rowspan="2">Date</th>
          <th rowspan="2">Amount</th>
          <th rowspan="2">Status</th>
          <th colspan="4">Payment Info</th>
        </tr>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Number</th>
          <th>Expiration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let charge of chargeHistory">
          <td>{{charge.created | date:'medium'}}</td>
          <td>{{charge.amount / 100 | currency}}</td>
          <td>{{charge.sellerMessage}}</td>
          <td>{{charge.name}}</td>
          <td>{{charge.brand}}</td>
          <td>•••• {{charge.last4}}</td>
          <td>{{charge.expMonth}} / {{charge.expYear}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>