<div class="outer-wrapper">
  <div class="white-background">
    <h1>Dues</h1>
    <p>
      COHAD is a voluntary HOA that relies on residents who choose to pay dues, which are
      currently set at ${{baseDuesAmount}} per year. If you've paid dues in the past, we
      sincerely thank you for your help.
    </p>
    <p>
      The majority of dues are used to maintain the beauty of our entrances, including irrigation,
      maintenance of grass and flower beds, new plants and shrubs as needed, and lighting.
      The hard work of the Garden Club and other volunteers helps to keep these costs down,
      but water and electricity bills must still be paid, and some contract work is necessary.
    </p>
    <p>
      Dues also go towards community development for our neighborhood. We help the Social
      Committee host events like the Easter Egg Hunt, the ice cream truck after the Fourth
      of July Parade, block parties, and Breakfast with Santa. We also sponsor events like
      the annual garage sale and the Earth Day Clean Out.
    </p>
    <p>
      If you have any questions about the budget, please contact the COHAD Board at
      <a href="mailto:board@cohad.org">board&#64;cohad.org</a>, or attend our annual meeting, where
      we discuss it in detail.
    </p>
  </div>
  <div class="payment-section white-background">
    <mat-accordion>
      <mat-expansion-panel (opened)="renderOneTimePaymentButtons()" (closed)="oneTimePaymentClosed()">
        <mat-expansion-panel-header>
          <mat-panel-title>One-time Payment</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="payment-description">Make a one-time dues payment of ${{duesWithFeesAmount}} (fees included).</div>
        <div #paypalOneTime></div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="renderSubscribeButtons()" (closed)="subscribeClosed()">
        <mat-expansion-panel-header>
          <mat-panel-title>Recurring Payment</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="payment-description">Automatically pay ${{duesWithFeesAmount}} (fees included) annually until cancelled. Cancel easily online through PayPal.</div>
        <div #paypalAnnual></div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Pay Without Fees</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <div>Skip the PayPal fees and send ${{baseDuesAmount}} by check or cash.</div>
          <ul>
            <li>Make check payable to "COHAD".</li>
            <li>Deliver to our Treasurer, Dorothy Woods, at 100 Hunters Hill Circle.</li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="transaction-section white-background">
    <h2>Transaction History</h2>
    <table mat-table *ngIf="payments.length > 0; else noPayments" [dataSource]="payments">

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let payment"> {{payment.date | date: 'short'}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let payment"> {{payment.amount | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let payment"> {{payment.paymentType == 0 ? 'One-Time' : payment.paymentType == 1 ? 'Subscription' : 'PayPal (synced)'}} </td>
      </ng-container>

      <ng-container matColumnDef="payerEmail">
        <th class="payer-column" mat-header-cell *matHeaderCellDef> Payer </th>
        <td mat-cell *matCellDef="let payment"> {{payment.payerEmail}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <ng-template #noPayments>
      <p>No transactions found.</p>
    </ng-template>
  </div>
</div>
