.outer-div {
  background-color: white;
}

.cls-3 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

.street-name {
  font-size: 10px;
  font-weight: bold;
}

.house-number {
  font-size: 9px;
}

.resident-info {
  font-size: 10px;
  text-align: center;
  line-height: normal;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.resident-info>div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-left: 15px;
}
