<div>
  <h1>Note: Map is a work in progress. Only part of the neighborhood is currently visible.</h1>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1075 774">
    <g id="Layer_2" transform="translate(-130)">
      <polygon class="cls-3" points="135.23 7.42 271.33 9.59 270.71 83.01 257.19 86.71 135.23 7.42" />
      <polygon class="cls-3" points="337.98 10.5 335.27 105.67 282.9 92.67 270.71 83.01 271.33 9.59 337.98 10.5" />
      <polygon class="cls-3" points="411.59 11.35 370.67 122.22 346.66 109.91 335.27 105.67 337.98 10.5 411.59 11.35" />
      <polygon class="cls-3" points="427.46 11.35 455.53 62.84 401.49 142.88 370.67 122.22 411.59 11.35 427.46 11.35" />
      <polygon class="cls-3" points="452.26 188.46 401.49 142.88 455.53 62.84 497 142.29 452.26 188.46" />
      <polygon class="cls-3" points="485.83 13.15 529.67 122.22 497 142.29 427.46 11.35 485.83 13.15" />
      <polygon class="cls-3" points="560.75 14.36 559.21 113.24 529.67 122.22 485.83 13.15 560.75 14.36" />
      <polygon class="cls-3" points="619.5 14.36 619.22 111.56 572.77 111.89 559.21 113.24 560.75 14.36 619.5 14.36" />
      <polygon class="cls-3" points="677.67 14.99 677.14 111.56 619.22 111.56 619.5 14.36 677.67 14.99" />
      <polygon class="cls-3" points="744.97 15.36 745.9 110.7 677.14 111.56 677.67 14.99 744.97 15.36" />
      <polygon class="cls-3" points="748.81 121.59 747.39 218.99 691.14 218.4 693.09 121.85 748.81 121.59" />
      <polygon class="cls-3" points="624.9 121.85 693.09 121.85 691.14 218.4 624.42 217.43 624.9 121.85" />
      <polygon class="cls-3" points="580.19 225.39 624.42 217.43 624.9 121.85 563.06 121 580.19 225.39" />
      <polygon class="cls-3"
        points="560.21 234.07 567.78 229.65 580.19 225.39 563.06 121 553.8 121.85 543.89 125.21 533.19 130.02 522.64 137.16 505.09 147.21 485.83 165.23 560.21 234.07" />
      <polygon class="cls-3" points="443.32 211.69 485.83 165.23 560.21 234.07 546.87 241.28 538.07 248.68 517 272.91 443.32 211.69" />
      <polygon class="cls-3" points="135.65 100.58 251.13 96.34 257.19 86.71 135.23 7.42 135.65 100.58" />
      <polygon class="cls-3" points="135.71 162.28 177.54 158.01 185.73 158.29 239.49 170.08 260.2 109.62 251.13 96.34 135.65 100.58 135.71 162.28" />
      <polygon class="cls-3" points="289.06 186.27 239.49 170.08 260.2 109.62 307.67 109.62 289.06 186.27" />
      <polygon class="cls-3" points="333 204.44 289.06 186.27 307.67 109.62 321.78 111.63 329.6 113.26 340.24 117.9 365 131 384.67 143.45 333 204.44" />
      <polygon class="cls-3" points="394.04 257.31 333 204.44 384.67 143.45 443.32 195.67 394.04 257.31" />
      <polygon class="cls-3" points="324.22 334.91 278.2 292.44 346.98 216.56 394.04 257.31 324.22 334.91" />
      <polygon class="cls-3" points="240.34 250.25 289.06 186.27 333 204.44 346.98 216.56 278.2 292.44 248.05 265.38 240.34 250.25" />
      <polygon class="cls-3" points="136.53 261.76 135.71 162.28 177.54 158.01 182.78 158.64 226.78 249.44 223.14 252.21 221.1 257.13 221.1 261.17 136.53 261.76" />
      <polygon class="cls-3" points="233.56 249.44 240.34 250.25 289.06 186.27 239.49 170.08 185.73 158.29 182.78 158.64 226.78 249.44 233.56 249.44" />
      <polygon class="cls-3" points="136.59 360.24 136.53 261.76 221.1 261.17 221.46 265.78 223.76 270.13 228.92 273.24 235.92 274.45 149.56 364.19 136.59 360.24" />
      <polygon class="cls-3" points="198.73 385.11 149.56 364.19 235.92 274.45 239.98 274.79 242.37 277.17 271.78 301 198.73 385.11" />
      <polygon class="cls-3" points="262.89 408.94 198.73 385.11 271.78 301 317.98 343.47 273.58 395.78 262.89 408.94" />
      <polygon class="cls-3" points="139.36 422.17 136.59 360.24 149.56 364.19 198.73 385.11 262.89 408.94 258.35 419.25 252 441.56 139.36 422.17" />
      <polygon class="cls-3" points="138.12 484.31 139.36 422.17 252 441.56 249.74 455.22 248.63 484.31 138.12 484.31" />
      <polygon class="cls-3" points="137.22 534.72 138.12 484.31 248.63 484.31 248.63 534.72 137.22 534.72" />
      <polygon class="cls-3" points="135.93 597.25 137.22 534.72 248.63 534.72 248.63 576.55 247.42 581.25 245.91 584.39 135.93 597.25" />
      <polygon class="cls-3" points="135.01 687.2 135.93 597.25 245.91 584.39 239.11 604.67 135.01 687.2" />
      <polygon class="cls-3" points="135.01 717.74 135.01 687.2 239.11 604.67 248.63 614.49 203.46 717.23 135.01 717.74" />
      <polygon class="cls-3" points="280.74 718.37 203.46 717.23 248.63 614.49 282.37 607.85 280.74 718.37" />
      <polygon class="cls-3" points="335.75 719.23 280.74 718.37 282.37 607.85 336.74 609.08 335.75 719.23" />
      <polygon class="cls-3" points="384.78 719.71 335.76 719.22 336.74 609.08 386.02 609.99 384.78 719.71" />
      <polygon class="cls-3" points="439.28 719.99 384.78 719.71 386.02 609.99 440.25 610.83 439.28 719.99" />
      <polygon class="cls-3" points="490.3 720.78 439.28 719.99 440.25 610.83 490.97 612.73 490.3 720.78" />
      <polygon class="cls-3" points="564.65 722.75 490.3 720.78 490.97 612.73 566.07 614.89 564.65 722.75" />
      <polygon class="cls-3" points="635.78 722.98 564.65 722.75 566.07 614.89 585.2 614.89 593.63 613.65 612.22 609.62 635.78 722.98" />
      <polygon class="cls-3" points="478.98 322 404.65 259.56 443.32 211.69 517 272.91 478.98 322" />
      <polygon class="cls-3" points="438.67 362.89 366.97 302.22 404.65 259.56 478.98 322 469.79 334.91 438.67 362.89" />
      <polygon class="cls-3" points="391.52 409.7 324.22 351.11 366.97 302.22 438.67 362.89 391.52 409.7" />
      <polygon class="cls-3" points="346.35 453.24 282.37 398.84 324.22 351.11 391.52 409.7 346.35 453.24" />
      <polygon class="cls-3" points="257.85 533.98 261.45 448 265.21 433.11 269.31 421.55 274 411.11 282.37 398.84 346.35 453.24 257.85 533.98" />
      <polygon class="cls-3" points="259.45 586.22 257.85 533.98 315.33 481.53 312 596 262.89 594.61 260.16 591.56 259.45 586.22" />
      <polygon class="cls-3" points="366.97 599.26 312 596 315.33 481.53 334.35 464.18 390.15 498.89 366.97 599.26" />
      <polygon class="cls-3" points="437.45 600.04 366.97 599.26 390.15 498.89 439.46 527.93 437.45 600.04" />
      <polygon class="cls-3" points="457.11 481.53 449.77 497.12 444 512.22 439.46 527.93 334.35 464.18 375.55 425.1 457.11 481.53" />
      <polygon class="cls-3" points="493.33 438.89 457.11 481.53 375.55 425.1 391.52 409.7 423.73 377.73 493.33 438.89" />
      <polygon class="cls-3" points="534.15 390.22 493.33 438.89 423.73 377.73 438.67 362.89 469.79 334.91 534.15 390.22" />
      <polygon class="cls-3" points="572.73 349.78 534.15 390.22 469.79 334.91 509 283.24 572.73 349.78" />
      <polygon class="cls-3" points="603.64 329.08 572.73 349.78 509 283.24 538.07 248.68 546.87 241.28 560.21 234.07 603.64 329.08" />
      <polygon class="cls-3" points="638.89 318.9 603.64 329.08 560.21 234.07 567.78 229.65 580.19 225.39 624.42 217.43 638.89 318.9" />
      <polygon class="cls-3" points="688.92 316.33 638.89 318.9 624.42 217.43 691.14 218.4 688.92 316.33" />
      <polygon class="cls-3" points="746 316.5 688.92 316.33 691.14 218.4 747.39 218.99 746 316.5" />
      <polygon class="cls-3" points="447.42 600.75 448.68 531.51 453.34 513.04 459.54 497.1 466.85 484.92 509.68 501.78 508 600.04 447.42 600.75" />
      <polygon class="cls-3" points="520.78 422.22 582.67 490.89 564.65 510.3 509.68 501.78 466.85 484.92 478.55 469.2 520.78 422.22" />
      <polygon class="cls-3" points="573.27 602.14 508 600.04 509.68 501.78 564.65 510.3 573.27 602.14" />
      <polygon class="cls-3" points="652.44 578.47 634.72 589.78 613.07 598.36 593.63 601.33 573.27 602.14 564.65 510.3 582.67 490.89 652.44 578.47" />
      <polygon class="cls-3" points="561.33 375.01 624.41 440 582.67 490.89 520.78 422.22 561.33 375.01" />
      <polygon class="cls-3" points="696.43 537.25 624.41 440 582.67 490.89 652.44 578.47 696.43 537.25" />
      <polygon class="cls-3" points="722 521.25 696.43 537.25 629.63 447.05 675.82 419.75 679.56 418.44 722 521.25" />
      <polygon class="cls-3" points="611 336.73 665.31 425.96 629.63 447.05 624.41 440 561.33 375.01 575.11 361.2 590.43 349.78 611 336.73" />
      <polygon class="cls-3" points="697.33 326.54 695.51 417.77 679.56 418.44 665.31 425.96 611 336.73 626.5 331.33 642.67 326.79 670.22 325.25 697.33 326.54" />
      <polygon class="cls-3" points="755.84 417.77 695.51 417.77 697.33 326.54 757.17 327.38 755.84 417.77" />
      <polygon class="cls-3" points="819.09 419.24 755.84 417.77 757.17 327.38 819.36 326.79 819.09 419.24" />
      <polygon class="cls-3" points="880.14 422.22 819.09 422.22 819.36 326.79 881.51 328.47 880.14 422.22" />
      <polygon class="cls-3" points="941.52 425.96 933.29 425.96 933.23 420.69 880.17 420.22 881.51 328.47 941.57 329.53 941.52 425.96" />
      <polygon class="cls-3" points="1003.78 329.08 1002.89 426.81 941.52 425.96 941.57 329.53 1003.78 329.08" />
      <polygon class="cls-3" points="1071.99 421.55 1002.89 422.22 1003.78 329.08 1019.86 327.82 1060.48 323.05 1071.99 421.55" />
      <polygon class="cls-3"
        points="1002.89 514.54 1002.89 426.81 1002.89 422.22 1071.99 421.55 1073.47 433.59 1070.46 501.11 1069.78 507.56 1067.45 511.32 1064.01 513.78 1058.42 514.54 1002.89 514.54" />
      <polygon class="cls-3" points="933.29 514.54 933.29 425.96 941.52 425.96 1002.89 426.81 1002.89 514.54 933.29 514.54" />
      <polygon class="cls-3" points="880.02 513.78 880.17 420.22 933.23 420.69 933.29 514.54 880.02 513.78" />
      <polygon class="cls-3" points="817.83 512.97 819.09 422.22 880.14 422.22 880.02 513.78 817.83 512.97" />
      <polygon class="cls-3" points="761.02 512.3 755.84 512.97 755.84 417.77 819.09 419.24 817.83 512.97 761.02 512.3" />
      <polygon class="cls-3" points="751.31 513.78 731.56 517.93 722 521.25 679.56 418.44 755.84 417.77 755.84 512.97 751.31 513.78" />
      <polygon class="cls-3" points="722 724.49 635.78 722.98 612.22 609.62 621.09 607.1 637.78 599.49 649.23 592.53 655.33 587.97 722 724.49" />
      <polygon class="cls-3" points="757.17 724.64 722 724.49 655.33 587.97 671.15 575.38 679.56 565.94 687.57 557.9 693.11 553.51 757.17 692.2 757.17 724.64" />
      <polygon class="cls-3" points="743.33 525 759.78 617.3 757.17 692.2 693.11 553.51 699.11 548.01 708.62 539.92 719.11 533.61 732.11 528.14 743.33 525" />
      <polygon class="cls-3" points="813.34 617.87 759.78 617.3 743.33 525 753.98 522.72 767.55 521.3 814.01 521.3 813.34 617.87" />
      <polygon class="cls-3" points="871.1 618.01 813.34 617.87 814.01 521.3 871.75 522.72 871.1 618.01" />
      <polygon class="cls-3" points="929.92 619.5 871.1 619.01 871.75 522.72 930.95 524.54 929.92 619.5" />
      <polygon class="cls-3" points="989.52 619.56 929.92 619.5 930.95 524.54 990.25 525 989.52 619.56" />
      <polygon class="cls-3" points="1047.19 620.97 989.52 619.56 990.25 525 1047.19 525.73 1047.19 620.97" />
      <polygon class="cls-3" points="1138.47 622.54 1047.19 620.97 1047.19 525.73 1076.22 532.67 1138.47 622.54" />
      <polygon class="cls-3" points="1179.99 569.16 1176.52 622.54 1138.47 622.54 1076.22 532.67 1084.27 522.99 1179.99 569.16" />
      <polygon class="cls-3" points="1182.89 487.6 1179.99 569.16 1084.27 522.99 1083.18 516.84 1080.01 512.3 1080.32 487.6 1182.89 487.6" />
      <polygon class="cls-3" points="1082.82 433.34 1185.12 438.35 1182.89 487.6 1080.32 487.6 1082.82 433.34" />
      <polygon class="cls-3" points="1078.68 382.35 1188.28 383.25 1185.12 438.35 1082.82 433.34 1078.68 382.35" />
      <polygon class="cls-3" points="1074.44 344.24 1163.39 323.08 1190 323.08 1188.28 383.25 1078.68 382.35 1074.44 344.24" />
      <polygon class="cls-3" points="1061.68 271.91 1162.67 273.19 1192.54 273.19 1190 323.08 1163.39 323.08 1074.44 344.24 1070.67 314 1061.68 271.91" />
      <polygon class="cls-3" points="1185.5 230.18 1190 250.52 1195.78 273.19 1061.68 271.91 1058.42 251.36 1057.03 229.52 1185.5 230.18" />
      <polygon class="cls-3" points="1185.5 181.51 1187.34 186.44 1185.5 230.18 1057.03 229.52 1056.24 181.51 1185.5 181.51" />
      <polygon class="cls-3"
        points="1182.82 134.25 1185.5 181.51 1056.24 181.51 1055 166.22 1056.51 148.32 1059.6 137.39 1061.68 134.25 1111.14 132.09 1180.67 134.25 1182.82 134.25" />
      <polygon class="cls-3" points="807.31 218.97 806.59 317.36 746 316.5 747.39 218.99 807.31 218.97" />
      <polygon class="cls-3" points="809.56 123 807.31 218.97 747.39 218.99 748.81 121.59 809.56 123" />
      <polygon class="cls-3" points="868.79 124.13 867.29 219.75 807.31 218.97 809.56 123 868.79 124.13" />
      <polygon class="cls-3" points="924.33 124.13 922.8 220.34 867.29 219.75 868.79 124.13 924.33 124.13" />
      <polygon class="cls-3" points="985.14 125.21 984.47 221.09 922.8 220.34 924.33 124.13 985.14 125.21" />
      <polygon class="cls-3" points="1049.78 126.8 1048.12 140.67 1046.74 168.23 1046.55 203.67 1048.12 229.52 984.47 221.09 985.14 125.21 1049.78 126.8" />
      <polygon class="cls-3"
        points="983.31 319.47 984.47 221.09 1048.12 229.52 1052.36 267.74 1057.03 299.33 1059.54 309.53 1058.9 312.11 1055 313.29 1024.95 318.47 1002 319.88 983.31 319.47" />
      <polygon class="cls-3" points="922.8 319.28 922.8 220.34 984.47 221.09 983.31 319.47 922.8 319.28" />
      <polygon class="cls-3" points="865.56 318.02 867.29 219.75 922.8 220.34 922.8 319.28 865.56 318.02" />
      <polygon class="cls-3" points="834.87 317.36 806.59 317.36 807.31 218.97 867.29 219.75 865.56 318.02 834.87 317.36" />
      <polygon class="cls-3" points="819.27 17.99 818.5 114.72 756.83 112.57 754.91 111.56 754.17 108 754.91 16.47 819.27 17.99" />
      <polygon class="cls-3" points="878.58 18.72 877.33 115.46 818.5 114.72 819.27 17.99 878.58 18.72" />
      <polygon class="cls-3" points="937.23 18.74 936 115.53 877.33 115.46 878.58 18.72 937.23 18.74" />
      <polygon class="cls-3" points="997.15 19.5 996.97 116.5 936 115.53 937.23 18.74 997.15 19.5" />
      <polygon class="cls-3" points="1057.03 22.48 1056.24 115.53 996.97 116.5 997.15 19.5 1057.03 22.48" />
      <polygon class="cls-3" points="1118.63 22.48 1117.83 111.99 1056.24 115.53 1057.03 22.48 1118.63 22.48" />
      <polygon class="cls-3" points="1182.82 22.48 1183.5 109.5 1117.83 111.99 1118.63 22.48 1182.82 22.48" />
    </g>
    <g id="Layer_3" transform="translate(-130)"><text class="cls-14" transform="translate(386.02 142.29) rotate(41.01)">
        <tspan x="0" y="0">Eagles Nest </tspan>
        <tspan class="cls-11" x="54.73" y="0">C</tspan>
        <tspan x="61.08" y="0">i</tspan>
        <tspan class="cls-9" x="63.66" y="0">r</tspan>
        <tspan x="67.14" y="0">cle</tspan>
      </text><text class="cls-14" transform="translate(248.63 278.78) rotate(41.01)">
        <tspan x="0" y="0">Hu</tspan>
        <tspan class="cls-13" x="13.23" y="0">n</tspan>
        <tspan class="cls-10" x="19.29" y="0">t</tspan>
        <tspan class="cls-6" x="22.87" y="0">ers </tspan>
        <tspan class="cls-2" x="38.66" y="0">H</tspan>
        <tspan class="cls-6" x="45.95" y="0">ill </tspan>
        <tspan class="cls-11" x="56.04" y="0">C</tspan>
        <tspan x="62.39" y="0">i</tspan>
        <tspan class="cls-18" x="64.96" y="0">r</tspan>
        <tspan x="68.45" y="0">cle</tspan>
      </text><text class="cls-14" transform="translate(509.68 433.34) rotate(-48.99)">
        <tspan class="cls-5" x="0" y="0">F</tspan>
        <tspan class="cls-8" x="4.86" y="0">a</tspan>
        <tspan x="10.08" y="0">wn Holl</tspan>
        <tspan class="cls-7" x="45.01" y="0">o</tspan>
        <tspan x="50.97" y="0">w D</tspan>
        <tspan class="cls-15" x="68.73" y="0">r</tspan>
        <tspan x="72.37" y="0">i</tspan>
        <tspan class="cls-9" x="74.94" y="0">v</tspan>
        <tspan x="80.12" y="0">e</tspan>
      </text><text class="cls-14" transform="translate(842.55 326.54) rotate(1.18)">
        <tspan class="cls-5" x="0" y="0">F</tspan>
        <tspan class="cls-8" x="4.86" y="0">a</tspan>
        <tspan x="10.08" y="0">wn Holl</tspan>
        <tspan class="cls-7" x="45.01" y="0">o</tspan>
        <tspan x="50.97" y="0">w D</tspan>
        <tspan class="cls-15" x="68.73" y="0">r</tspan>
        <tspan x="72.37" y="0">i</tspan>
        <tspan class="cls-9" x="74.94" y="0">v</tspan>
        <tspan x="80.12" y="0">e</tspan>
      </text><text class="cls-14" transform="translate(465.07 609.11) rotate(1.18)">
        <tspan class="cls-7" x="0" y="0">C</tspan>
        <tspan x="6.3" y="0">a</tspan>
        <tspan class="cls-1" x="11.6" y="0">n</tspan>
        <tspan class="cls-9" x="17.57" y="0">y</tspan>
        <tspan class="cls-17" x="22.64" y="0">on Oaks D</tspan>
        <tspan class="cls-4" x="69.17" y="0">r</tspan>
        <tspan class="cls-6" x="72.81" y="0">i</tspan>
        <tspan class="cls-18" x="75.38" y="0">v</tspan>
        <tspan x="80.56" y="0">e</tspan>
      </text><text class="cls-14" transform="translate(1065.66 125.21) rotate(1.18)">
        <tspan class="cls-7" x="0" y="0">C</tspan>
        <tspan x="6.3" y="0">a</tspan>
        <tspan class="cls-1" x="11.6" y="0">n</tspan>
        <tspan class="cls-9" x="17.57" y="0">y</tspan>
        <tspan class="cls-17" x="22.64" y="0">on Oaks D</tspan>
        <tspan class="cls-4" x="69.17" y="0">r</tspan>
        <tspan class="cls-6" x="72.81" y="0">i</tspan>
        <tspan class="cls-18" x="75.38" y="0">v</tspan>
        <tspan x="80.56" y="0">e</tspan>
      </text><text class="cls-14" transform="translate(747.39 19.5) rotate(91.18)">
        <tspan class="cls-12" x="0" y="0">P</tspan>
        <tspan x="5.8" y="0">heasa</tspan>
        <tspan class="cls-16" x="32.37" y="0">n</tspan>
        <tspan x="38.43" y="0">t Run </tspan>
        <tspan class="cls-15" x="64.82" y="0">R</tspan>
        <tspan x="70.78" y="0">oad</tspan>
      </text></g>
    <g id="Layer_4" transform="translate(-130)"><text class="cls-14" transform="translate(1160.89 104.33)">
        <tspan x="0" y="0">100</tspan>
      </text><text class="cls-14" transform="translate(1092.87 106.86)">
        <tspan x="0" y="0">110</tspan>
      </text><text class="cls-14" transform="translate(1030.81 109.62)">
        <tspan x="0" y="0">120</tspan>
      </text><text class="cls-14" transform="translate(972.81 109.74)">
        <tspan x="0" y="0">130</tspan>
      </text><text class="cls-14" transform="translate(912.87 109.62)">
        <tspan x="0" y="0">140</tspan>
      </text><text class="cls-14" transform="translate(852.87 109.62)">
        <tspan x="0" y="0">150</tspan>
      </text><text class="cls-14" transform="translate(795.46 106.98)">
        <tspan x="0" y="0">160</tspan>
      </text><text class="cls-14" transform="translate(722 105.67)">
        <tspan x="0" y="0">170</tspan>
      </text><text class="cls-14" transform="translate(654.2 105.79)">
        <tspan x="0" y="0">180</tspan>
      </text><text class="cls-14" transform="translate(598.81 107.1)">
        <tspan x="0" y="0">190</tspan>
      </text><text class="cls-14" transform="translate(536.83 111.79)">
        <tspan x="0" y="0">200</tspan>
      </text><text class="cls-14" transform="translate(504.87 121.12)">
        <tspan x="0" y="0">210</tspan>
      </text><text class="cls-14" transform="translate(441.48 173.19)">
        <tspan x="0" y="0">100</tspan>
      </text><text class="cls-14" transform="translate(390.15 131.67)">
        <tspan x="0" y="0">110</tspan>
      </text><text class="cls-14" transform="translate(355.19 109.86)">
        <tspan x="0" y="0">120</tspan>
      </text><text class="cls-14" transform="translate(312 96.34)">
        <tspan x="0" y="0">130</tspan>
      </text><text class="cls-14" transform="translate(245.53 69.55)">
        <tspan x="0" y="0">140</tspan>
      </text><text class="cls-14" transform="translate(222.52 89.07)">
        <tspan x="0" y="0">145</tspan>
      </text><text class="cls-14" transform="translate(233.53 113.85)">
        <tspan x="0" y="0">135</tspan>
      </text><text class="cls-14" transform="translate(278.2 121.12)">
        <tspan x="0" y="0">125</tspan>
      </text><text class="cls-14" transform="translate(351.07 151)">
        <tspan x="0" y="0">115</tspan>
      </text><text class="cls-14" transform="translate(413.5 200.38)">
        <tspan x="0" y="0">105</tspan>
      </text><text class="cls-14" transform="translate(313.14 323.05)">
        <tspan x="0" y="0">100</tspan>
      </text><text class="cls-14" transform="translate(267.68 278.78)">
        <tspan x="0" y="0">110</tspan>
      </text><text class="cls-14" transform="translate(225.53 239.35)">
        <tspan x="0" y="0">120</tspan>
      </text><text class="cls-14" transform="translate(199.74 251.36)">
        <tspan x="0" y="0">130</tspan>
      </text><text class="cls-14" transform="translate(203.46 280.4)">
        <tspan x="0" y="0">125</tspan>
      </text><text class="cls-14" transform="translate(242.07 303.67)">
        <tspan x="0" y="0">115</tspan>
      </text><text class="cls-14" transform="translate(289.06 345.73)">
        <tspan x="0" y="0">105</tspan>
      </text><text class="cls-14" transform="translate(233.53 432.95)">
        <tspan x="0" y="0">220</tspan>
      </text><text class="cls-14" transform="translate(223.67 478.4)">
        <tspan x="0" y="0">230</tspan>
      </text><text class="cls-14" transform="translate(224.16 528.38)">
        <tspan x="0" y="0">240</tspan>
      </text><text class="cls-14" transform="translate(226.68 576.33)">
        <tspan x="0" y="0">250</tspan>
      </text><text class="cls-14" transform="translate(219.65 600.75)">
        <tspan x="0" y="0">260</tspan>
      </text><text class="cls-14" transform="translate(223.67 625.67)">
        <tspan x="0" y="0">270</tspan>
      </text><text class="cls-14" transform="translate(257.19 625.67)">
        <tspan x="0" y="0">280</tspan>
      </text><text class="cls-14" transform="translate(312 622.54)">
        <tspan x="0" y="0">290</tspan>
      </text><text class="cls-14" transform="translate(360.89 622.66)">
        <tspan x="0" y="0">300</tspan>
      </text><text class="cls-14" transform="translate(414.64 622.78)">
        <tspan x="0" y="0">310</tspan>
      </text><text class="cls-14" transform="translate(466.85 625.79)">
        <tspan x="0" y="0">320</tspan>
      </text><text class="cls-14" transform="translate(540.2 628.4)">
        <tspan x="0" y="0">330</tspan>
      </text><text class="cls-14" transform="translate(589.35 625.67)">
        <tspan x="0" y="0">340</tspan>
      </text><text class="cls-14" transform="translate(639.55 609.99)">
        <tspan x="0" y="0">350</tspan>
      </text><text class="cls-14" transform="translate(679.56 578.47)">
        <tspan x="0" y="0">360</tspan>
      </text><text class="cls-14" transform="translate(723.14 542.83)">
        <tspan x="0" y="0">370</tspan>
      </text><text class="cls-14" transform="translate(790.9 533.67)">
        <tspan x="0" y="0">380</tspan>
      </text><text class="cls-14" transform="translate(848.54 535.56)">
        <tspan x="0" y="0">390</tspan>
      </text><text class="cls-14" transform="translate(906.66 537.25)">
        <tspan x="0" y="0">400</tspan>
      </text><text class="cls-14" transform="translate(966.58 537.25)">
        <tspan x="0" y="0">410</tspan>
      </text><text class="cls-14" transform="translate(1021.42 539.73)">
        <tspan x="0" y="0">420</tspan>
      </text><text class="cls-14" transform="translate(1057.03 542.96)">
        <tspan x="0" y="0">430</tspan>
      </text><text class="cls-14" transform="translate(1089.17 543.08)">
        <tspan x="0" y="0">440</tspan>
      </text><text class="cls-14" transform="translate(1084.87 498.89)">
        <tspan x="0" y="0">450</tspan>
      </text><text class="cls-14" transform="translate(1087.17 449.12)">
        <tspan x="0" y="0">460</tspan>
      </text><text class="cls-14" transform="translate(1085.03 395.89)">
        <tspan x="0" y="0">470</tspan>
      </text><text class="cls-14" transform="translate(1080.32 355.96)">
        <tspan x="0" y="0">480</tspan>
      </text><text class="cls-14" transform="translate(1071.99 283.79)">
        <tspan x="0" y="0">490</tspan>
      </text><text class="cls-14" transform="translate(1065.66 244.08)">
        <tspan x="0" y="0">500</tspan>
      </text><text class="cls-14" transform="translate(1061.68 193.79)">
        <tspan x="0" y="0">510</tspan>
      </text><text class="cls-14" transform="translate(1065.66 147.95)">
        <tspan x="0" y="0">520</tspan>
      </text><text class="cls-14" transform="translate(1021.59 140.33)">
        <tspan x="0" y="0">125</tspan>
      </text><text class="cls-14" transform="translate(960.08 139.67)">
        <tspan x="0" y="0">135</tspan>
      </text><text class="cls-14" transform="translate(895.81 135.85)">
        <tspan x="0" y="0">145</tspan>
      </text><text class="cls-14" transform="translate(842.81 135.97)">
        <tspan x="0" y="0">155</tspan>
      </text><text class="cls-14" transform="translate(784.14 134.45)">
        <tspan x="0" y="0">165</tspan>
      </text><text class="cls-14" transform="translate(725 135)">
        <tspan x="0" y="0">175</tspan>
      </text><text class="cls-14" transform="translate(665.31 134.45)">
        <tspan x="0" y="0">185</tspan>
      </text><text class="cls-14" transform="translate(597.67 134.33)">
        <tspan x="0" y="0">195</tspan>
      </text><text class="cls-14" transform="translate(540.66 139.67)">
        <tspan x="0" y="0">205</tspan>
      </text><text class="cls-14" transform="translate(478.13 186.52)">
        <tspan x="0" y="0">215</tspan>
      </text><text class="cls-14" transform="translate(438.67 234.07)">
        <tspan x="0" y="0">225</tspan>
      </text><text class="cls-14" transform="translate(395.73 281.67)">
        <tspan x="0" y="0">235</tspan>
      </text><text class="cls-14" transform="translate(357.19 325.25)">
        <tspan x="0" y="0">245</tspan>
      </text><text class="cls-14" transform="translate(315.33 374.51)">
        <tspan x="0" y="0">255</tspan>
      </text><text class="cls-14" transform="translate(278.2 422.17)">
        <tspan x="0" y="0">265</tspan>
      </text><text class="cls-14" transform="translate(286.59 587.97)">
        <tspan x="0" y="0">275</tspan>
      </text><text class="cls-14" transform="translate(346.35 590.88)">
        <tspan x="0" y="0">285</tspan>
      </text><text class="cls-14" transform="translate(414.64 593.48)">
        <tspan x="0" y="0">295</tspan>
      </text><text class="cls-14" transform="translate(429.69 488.33)">
        <tspan x="0" y="0">220</tspan>
      </text><text class="cls-14" transform="translate(465.07 441.85)">
        <tspan x="0" y="0">210</tspan>
      </text><text class="cls-14" transform="translate(504.87 395.89)">
        <tspan x="0" y="0">200</tspan>
      </text><text class="cls-14" transform="translate(540.63 353.16)">
        <tspan x="0" y="0">190</tspan>
      </text><text class="cls-14" transform="translate(576.65 328.47)">
        <tspan x="0" y="0">180</tspan>
      </text><text class="cls-14" transform="translate(615.34 315.78)">
        <tspan x="0" y="0">170</tspan>
      </text><text class="cls-14" transform="translate(665.31 308.51)">
        <tspan x="0" y="0">160</tspan>
      </text><text class="cls-14" transform="translate(719.97 308.51)">
        <tspan x="0" y="0">150</tspan>
      </text><text class="cls-14" transform="translate(780.2 308.07)">
        <tspan x="0" y="0">140</tspan>
      </text><text class="cls-14" transform="translate(838.05 308.63)">
        <tspan x="0" y="0">130</tspan>
      </text><text class="cls-14" transform="translate(896.95 311.22)">
        <tspan x="0" y="0">120</tspan>
      </text><text class="cls-14" transform="translate(960.08 311.22)">
        <tspan x="0" y="0">110</tspan>
      </text><text class="cls-14" transform="translate(1031.95 308.07)">
        <tspan x="0" y="0">100</tspan>
      </text><text class="cls-14" transform="translate(1033.83 340.52)">
        <tspan x="0" y="0">105</tspan>
      </text><text class="cls-14" transform="translate(976.62 343.18)">
        <tspan x="0" y="0">115</tspan>
      </text><text class="cls-14" transform="translate(914.01 345.73)">
        <tspan x="0" y="0">125</tspan>
      </text><text class="cls-14" transform="translate(854.59 345.89)">
        <tspan x="0" y="0">135</tspan>
      </text><text class="cls-14" transform="translate(795.46 342.33)">
        <tspan x="0" y="0">145</tspan>
      </text><text class="cls-14" transform="translate(730.8 342.33)">
        <tspan x="0" y="0">155</tspan>
      </text><text class="cls-14" transform="translate(670.73 340.64)">
        <tspan x="0" y="0">165</tspan>
      </text><text class="cls-14" transform="translate(598.81 360.24)">
        <tspan x="0" y="0">175</tspan>
      </text><text class="cls-14" transform="translate(553.36 400.9)">
        <tspan x="0" y="0">185</tspan>
      </text><text class="cls-14" transform="translate(511 449)">
        <tspan x="0" y="0">195</tspan>
      </text><text class="cls-14" transform="translate(481.6 590.88)">
        <tspan x="0" y="0">315</tspan>
      </text><text class="cls-14" transform="translate(547.99 596)">
        <tspan x="0" y="0">325</tspan>
      </text><text class="cls-14" transform="translate(621.86 578.47)">
        <tspan x="0" y="0">335</tspan>
      </text><text class="cls-14" transform="translate(667.11 537.38)">
        <tspan x="0" y="0">345</tspan>
      </text><text class="cls-14" transform="translate(695.51 512.97)">
        <tspan x="0" y="0">355</tspan>
      </text><text class="cls-14" transform="translate(736.51 505.7)">
        <tspan x="0" y="0">365</tspan>
      </text><text class="cls-14" transform="translate(795.46 501.78)">
        <tspan x="0" y="0">375</tspan>
      </text><text class="cls-14" transform="translate(854.59 505.82)">
        <tspan x="0" y="0">385</tspan>
      </text><text class="cls-14" transform="translate(906.82 505.7)">
        <tspan x="0" y="0">395</tspan>
      </text><text class="cls-14" transform="translate(979.19 505.94)">
        <tspan x="0" y="0">405</tspan>
      </text><text class="cls-14" transform="translate(1047.19 505.7)">
        <tspan x="0" y="0">415</tspan>
      </text></g>
    <g id="Layer_5" transform="translate(-130)">
      <foreignObject class="resident-info" x="1120" y="22" width="60" height="70">
        <div id="100-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(100, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1058" y="22" width="58" height="72">
        <div id="110-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(110, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="999" y="22" width="56" height="75">
        <div id="120-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(120, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="985" y="148" width="60" height="75">
        <div id="125-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(125, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="938" y="21" width="58" height="75">
        <div id="130-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(130, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="925" y="146" width="60" height="75">
        <div id="135-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(135, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="879" y="20" width="57" height="76">
        <div id="140-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(140, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="869" y="145" width="55" height="75">
        <div id="145-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(145, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="820" y="20" width="57" height="76">
        <div id="150-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(150, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="808" y="144" width="59" height="75">
        <div id="155-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(155, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="756" y="20" width="62" height="76">
        <div id="160-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(160, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="748" y="143" width="59" height="75">
        <div id="165-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(165, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="678" y="17" width="66" height="76">
        <div id="170-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(170, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="692" y="143" width="55" height="75">
        <div id="175-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(175, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="619" y="17" width="59" height="76">
        <div id="180-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(180, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="626" y="142" width="65" height="75">
        <div id="185-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(185, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="560" y="17" width="59" height="76">
        <div id="190-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(190, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="570" y="142" width="55" height="75">
        <div id="195-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(195, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="505" y="17" width="54" height="66">
        <div id="200-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(200, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="515" y="142" width="55" height="65">
        <div id="205-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(205, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="450" y="17" width="49" height="86">
        <div id="210-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(210, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="476" y="190" width="55" height="65">
        <div id="215-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(215, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="150" y="390" width="80" height="40">
        <div id="220-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(220, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="435" y="240" width="65" height="55">
        <div id="225-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(225, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="140" y="435" width="80" height="48">
        <div id="230-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(230, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="390" y="285" width="65" height="55">
        <div id="235-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(235, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="140" y="485" width="80" height="49">
        <div id="240-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(240, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="350" y="330" width="65" height="55">
        <div id="245-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(245, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="140" y="535" width="80" height="54">
        <div id="250-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(250, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="310" y="380" width="65" height="55">
        <div id="255-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(255, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="140" y="595" width="80" height="40">
        <div id="260-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(260, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="265" y="430" width="65" height="55">
        <div id="265-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(265, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="140" y="670" width="75" height="40">
        <div id="270-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(270, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="260" y="520" width="55" height="55">
        <div id="275-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(275, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="220" y="650" width="60" height="67">
        <div id="280-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(280, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="315" y="520" width="60" height="55">
        <div id="285-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(285, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="282" y="630" width="55" height="85">
        <div id="290-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(290, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="380" y="530" width="57" height="50">
        <div id="295-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(295, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="337" y="630" width="49" height="85">
        <div id="300-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(300, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="386" y="632" width="53" height="85">
        <div id="310-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(310, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="450" y="520" width="57" height="55">
        <div id="315-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(315, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="440" y="632" width="52" height="85">
        <div id="320-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(320, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="510" y="520" width="57" height="60">
        <div id="325-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(325, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="490" y="635" width="75" height="85">
        <div id="330-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(330, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="570" y="530" width="55" height="50">
        <div id="335-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(335, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="565" y="635" width="60" height="85">
        <div id="340-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(340, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="600" y="480" width="65" height="50">
        <div id="345-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(345, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="628" y="635" width="60" height="85">
        <div id="350-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(350, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="650" y="440" width="50" height="55">
        <div id="355-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(355, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="683" y="605" width="45" height="85">
        <div id="360-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(360, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="700" y="420" width="55" height="60">
        <div id="365-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(365, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="710" y="550" width="45" height="85">
        <div id="370-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(370, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="757" y="420" width="60" height="70">
        <div id="375-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(375, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="760" y="540" width="52" height="75">
        <div id="380-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(380, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="820" y="422" width="60" height="70">
        <div id="385-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(385, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="815" y="542" width="55" height="75">
        <div id="390-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(390, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="880" y="424" width="55" height="70">
        <div id="395-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(395, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="872" y="544" width="57" height="75">
        <div id="400-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(400, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="935" y="426" width="67" height="70">
        <div id="405-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(405, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="932" y="545" width="57" height="75">
        <div id="410-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(410, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1005" y="424" width="67" height="70">
        <div id="415-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(415, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="991" y="545" width="55" height="75">
        <div id="420-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(420, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1049" y="546" width="57" height="75">
        <div id="430-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(430, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1115" y="540" width="57" height="75">
        <div id="440-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(440, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1115" y="488" width="65" height="55">
        <div id="450-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(450, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1110" y="436" width="72" height="50">
        <div id="460-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(460, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1110" y="384" width="72" height="50">
        <div id="470-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(470, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1110" y="332" width="72" height="50">
        <div id="480-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(480, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1100" y="273" width="85" height="55">
        <div id="490-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(490, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1090" y="230" width="95" height="43">
        <div id="500-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(500, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1085" y="183" width="95" height="45">
        <div id="510-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(510, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1085" y="135" width="95" height="45">
        <div id="520-Canyon" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(520, 'Canyon Oaks Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="415" y="110" width="75" height="45">
        <div id="100-Eagles" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(100, 'Eagles Nest Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="350" y="170" width="70" height="60">
        <div id="105-Eagles" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(105, 'Eagles Nest Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="385" y="55" width="65" height="55">
        <div id="110-Eagles" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(110, 'Eagles Nest Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="300" y="135" width="60" height="60">
        <div id="115-Eagles" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(115, 'Eagles Nest Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="337" y="15" width="65" height="60">
        <div id="120-Eagles" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(120, 'Eagles Nest Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="242" y="112" width="60" height="60">
        <div id="125-Eagles" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(125, 'Eagles Nest Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="271" y="15" width="65" height="60">
        <div id="130-Eagles" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(130, 'Eagles Nest Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="135" y="100" width="90" height="60">
        <div id="135-Eagles" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(135, 'Eagles Nest Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="190" y="8" width="80" height="50">
        <div id="140-Eagles" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(140, 'Eagles Nest Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="135" y="50" width="80" height="50">
        <div id="145-Eagles" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(145, 'Eagles Nest Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="985" y="230" width="65" height="70">
        <div id="100-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(100, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="1005" y="350" width="60" height="70">
        <div id="105-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(105, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="922" y="225" width="62" height="70">
        <div id="110-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(110, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="942" y="350" width="60" height="70">
        <div id="115-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(115, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="867" y="220" width="55" height="75">
        <div id="120-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(120, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="881" y="350" width="60" height="70">
        <div id="125-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(125, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="808" y="220" width="58" height="75">
        <div id="130-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(130, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="820" y="350" width="60" height="70">
        <div id="135-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(135, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="748" y="220" width="58" height="75">
        <div id="140-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(140, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="758" y="350" width="60" height="65">
        <div id="145-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(145, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="690" y="220" width="57" height="75">
        <div id="150-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(150, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="696" y="350" width="60" height="65">
        <div id="155-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(155, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="632" y="220" width="57" height="75">
        <div id="160-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(160, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="638" y="345" width="57" height="50">
        <div id="165-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(165, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="580" y="230" width="50" height="75">
        <div id="170-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(170, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="582" y="365" width="65" height="50">
        <div id="175-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(175, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="530" y="250" width="50" height="75">
        <div id="180-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(180, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="540" y="410" width="75" height="50">
        <div id="185-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(185, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="480" y="300" width="65" height="65">
        <div id="190-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(190, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="490" y="450" width="75" height="50">
        <div id="195-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(195, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="440" y="350" width="65" height="60">
        <div id="200-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(200, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="400" y="400" width="65" height="55">
        <div id="210-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(210, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="355" y="445" width="75" height="50">
        <div id="220-Fawn" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(220, 'Fawn Hollow Drive') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="300" y="255" width="65" height="50">
        <div id="100-Hunters" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(100, 'Hunters Hill Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="220" y="340" width="65" height="50">
        <div id="105-Hunters" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(105, 'Hunters Hill Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="260" y="210" width="65" height="50">
        <div id="110-Hunters" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(110, 'Hunters Hill Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="180" y="305" width="65" height="45">
        <div id="115-Hunters" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(115, 'Hunters Hill Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="205" y="175" width="65" height="50">
        <div id="120-Hunters" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(120, 'Hunters Hill Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="137" y="265" width="65" height="50">
        <div id="125-Hunters" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(125, 'Hunters Hill Circle') | async"></div>
      </foreignObject>
      <foreignObject class="resident-info" x="137" y="185" width="65" height="50">
        <div id="130-Hunters" xmlns="http://www.w3.org/1999/xhtml" [innerHtml]="getResidentInfo(130, 'Hunters Hill Circle') | async"></div>
      </foreignObject>
    </g>
  </svg>
</div>
