<div>
  <img class="full-page" src="{{(printDirectorySettings | async)?.frontCoverDataUrl}}" alt="front cover">
  <img class="full-page" src="{{(printDirectorySettings | async)?.mapLeftDataUrl}}" alt="map left">
  <img class="full-page" src="{{(printDirectorySettings | async)?.mapRightDataUrl}}" alt="map right">
  <app-directory [hideSearch]="true"></app-directory>
  <div class="full-page" *ngIf="(printDirectorySettings | async)?.addExtraPageBreak"></div>
  <img src="{{(printDirectorySettings | async)?.backCoverDataUrl}}" alt="back cover">
</div>
