<div class="button-bar">
  <button *ngIf="!editing" color="primary" mat-raised-button (click)="startEdit()">Edit</button>
  <button *ngIf="editing" color="warn" mat-raised-button (click)="cancelEdit()">Cancel</button>
  <button *ngIf="editing" color="primary" mat-raised-button (click)="saveChanges()">Save</button>
</div>
<div class="dropzone-collection">
  <div class="titled-dropzone">
    <h3>Front Cover</h3>
    <div *ngIf="!editing" class="dropzone inactive">
      <img *ngIf="pdCopy.frontCoverDataUrl != null" [src]="pdCopy.frontCoverDataUrl" class="dropzone-image" />
    </div>
    <div *ngIf="editing" class="dropzone" (dragover)="dragOver($event)" (drop)="frontCoverDrop($event)">
      <div *ngIf="pdCopy.frontCoverDataUrl == ''">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="pdCopy.frontCoverDataUrl != ''" [src]="pdCopy.frontCoverDataUrl" class="dropzone-image" />
    </div>
  </div>
  <div class="titled-dropzone">
    <h3>Map 1</h3>
    <div *ngIf="!editing" class="dropzone inactive">
      <img *ngIf="pdCopy.map1DataUrl != ''" [src]="pdCopy.map1DataUrl" class="dropzone-image" />
    </div>
    <div *ngIf="editing" class="dropzone" (dragover)="dragOver($event)" (drop)="map1Drop($event)">
      <div *ngIf="pdCopy.map1DataUrl == ''">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="pdCopy.map1DataUrl != ''" [src]="pdCopy.map1DataUrl" class="dropzone-image" />
    </div>
  </div>
  <div class="titled-dropzone">
    <h3>Map 2</h3>
    <div *ngIf="!editing" class="dropzone inactive">
      <img *ngIf="pdCopy.map2DataUrl != ''" [src]="pdCopy.map2DataUrl" class="dropzone-image" />
    </div>
    <div *ngIf="editing" class="dropzone" (dragover)="dragOver($event)" (drop)="map2Drop($event)">
      <div *ngIf="pdCopy.map2DataUrl == ''">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="pdCopy.map2DataUrl != ''" [src]="pdCopy.map2DataUrl" class="dropzone-image" />
    </div>
  </div>
  <div class="titled-dropzone">
    <h3>Map 3</h3>
    <div *ngIf="!editing" class="dropzone inactive">
      <img *ngIf="pdCopy.map3DataUrl != ''" [src]="pdCopy.map3DataUrl" class="dropzone-image" />
    </div>
    <div *ngIf="editing" class="dropzone" (dragover)="dragOver($event)" (drop)="map3Drop($event)">
      <div *ngIf="pdCopy.map3DataUrl == ''">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="pdCopy.map3DataUrl != ''" [src]="pdCopy.map3DataUrl" class="dropzone-image" />
    </div>
  </div>
  <div class="titled-dropzone">
    <h3>Back Cover</h3>
    <div *ngIf="!editing" class="dropzone inactive">
      <img *ngIf="pdCopy.backCoverDataUrl != ''" [src]="pdCopy.backCoverDataUrl" class="dropzone-image" />
    </div>
    <div *ngIf="editing" class="dropzone" (dragover)="dragOver($event)" (drop)="backCoverDrop($event)">
      <div *ngIf="pdCopy.backCoverDataUrl == ''">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="pdCopy.backCoverDataUrl != ''" [src]="pdCopy.backCoverDataUrl" class="dropzone-image" />
    </div>
  </div>
</div>
<div>
  <mat-checkbox [(ngModel)]="pdCopy.addExtraPageBreak" [disabled]="!editing">Add Extra Page Break</mat-checkbox>
</div>
<div>
  <a mat-raised-button class="show-printable-directory-button" color="primary" routerLink="/printable-directory">Generate Printable Directory</a>
</div>
