@page {
  margin: 0;
  size: 5in 8in portrait;
}

@page :first {
  margin: 0
}

@page :last {
  margin: 0
}

img {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  object-fit: cover;
  break-inside: avoid;
  break-after: always;
}
