<div class="residents-container">
  <div class="top-nav">
    <a mat-flat-button class="top-nav-button" color="primary" routerLink="directory" routerLinkActive="mat-accent"
      *ngIf="directoryVisible$ | async">Directory</a>
    <a mat-flat-button class="top-nav-button" color="primary" routerLink="map" routerLinkActive="mat-accent"
      *ngIf="mapVisible$ | async">Map</a>
    <a mat-flat-button class="top-nav-button" color="primary" routerLink="documents" routerLinkActive="mat-accent"
      *ngIf="documentsVisible$ | async">Documents</a>
    <a mat-flat-button class="top-nav-button" color="primary" routerLink="dues" routerLinkActive="mat-accent"
      *ngIf="duesVisible$ | async">Dues</a>
    <a mat-flat-button class="top-nav-button" color="primary" routerLink="myinfo" routerLinkActive="mat-accent"
      *ngIf="myInfoVisible$ | async">My Info</a>
  </div>

  <div class="residents-content">
    <router-outlet></router-outlet>
  </div>
</div>
