<div class="residents-container">
  <nav mat-tab-nav-bar [tabPanel]="residentsPanel" aria-label="Residents navigation">
    <a mat-tab-link *ngIf="myInfoVisible$ | async"
       routerLink="myinfo" routerLinkActive #rla1="routerLinkActive"
       [active]="rla1.isActive">My Info</a>
    <a mat-tab-link *ngIf="directoryVisible$ | async"
       routerLink="directory" routerLinkActive #rla2="routerLinkActive"
       [active]="rla2.isActive">Directory</a>
    <a mat-tab-link *ngIf="mapVisible$ | async"
       routerLink="map" routerLinkActive #rla3="routerLinkActive"
       [active]="rla3.isActive">Map</a>
    <a mat-tab-link *ngIf="documentsVisible$ | async"
       routerLink="documents" routerLinkActive #rla4="routerLinkActive"
       [active]="rla4.isActive">Documents</a>
    <a mat-tab-link *ngIf="duesVisible$ | async"
       routerLink="dues" routerLinkActive #rla5="routerLinkActive"
       [active]="rla5.isActive">Dues</a>
    <a mat-tab-link *ngIf="vendorsVisible$ | async"
       routerLink="vendors" routerLinkActive #rla6="routerLinkActive"
       [active]="rla6.isActive">Vendors</a>
    <a mat-tab-link *ngIf="youthServicesVisible$ | async"
       routerLink="youth-services" routerLinkActive #rla7="routerLinkActive"
       [active]="rla7.isActive">Babysitters/Tutors</a>
  </nav>
  <mat-tab-nav-panel #residentsPanel>
    <div class="residents-content">
      <router-outlet></router-outlet>
    </div>
  </mat-tab-nav-panel>
</div>
