<mat-accordion class="residentAccordion">
  <mat-expansion-panel class="residentPanel" [togglePosition]="'after'">
    <mat-expansion-panel-header class="residentHeader">
      <mat-panel-title>
        <div class="titleRow">
          <span class="residentName">{{ displayName }}</span>
          <span class="typeChip" aria-label="Resident type">{{ typeLabel }}</span>
        </div>
      </mat-panel-title>
      <mat-panel-description>
        <div class="metaRow">
          <span class="metaEmail" *ngIf="primaryEmail">{{ primaryEmail }}</span>
          <span class="metaSep" *ngIf="primaryEmail && (hasPrimaryPhone)">•</span>
          <span class="metaPhone" *ngIf="primaryPhoneDisplay">{{ primaryPhoneDisplay }}</span>
          <span class="metaEmpty" *ngIf="!primaryEmail && !hasPrimaryPhone">No contact info</span>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="panelActions" *ngIf="editEnabled">
      <button mat-icon-button color="warn" aria-label="Delete resident" matTooltip="Delete resident" (click)="deleteResident.next()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <div class="panelBody">
      <div class="section">
        <div class="sectionTitle">Basics</div>
        <div class="row">
          <mat-form-field appearance="fill" class="field">
            <mat-label>Given Name</mat-label>
            <input matInput name="residentGivenName" [(ngModel)]="resident.givenName" [disabled]="!editEnabled">
          </mat-form-field>

          <mat-form-field *ngIf="resident.residentType !== 2" appearance="fill" class="field">
            <mat-label>Surname</mat-label>
            <input matInput name="residentSurname" [(ngModel)]="resident.surname" [disabled]="!editEnabled">
          </mat-form-field>

          <mat-form-field appearance="fill" class="field typeField">
            <mat-label>Type</mat-label>
            <mat-select name="residentType" [(ngModel)]="resident.residentType" [disabled]="!editEnabled">
              <mat-option [value]="0">Homeowner</mat-option>
              <mat-option [value]="1">Other Adult</mat-option>
              <mat-option [value]="2">Child</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="section" *ngIf="resident.residentType === 2">
        <div class="sectionTitle">Child details</div>
        <div class="row">
          <div class="options">
            <mat-checkbox [checked]="getShowBirthYear(resident)" (change)="showBirthYearCheckChanged($event, resident)" [disabled]="!editEnabled">Show Birth Year</mat-checkbox>
            <mat-checkbox [checked]="getShowCollegeName(resident)" (change)="showCollegeNameCheckChanged($event, resident)" [disabled]="!editEnabled">Show College Name</mat-checkbox>
          </div>
        </div>
        <div class="row" *ngIf="getShowBirthYear(resident) || getShowCollegeName(resident)">
          <mat-form-field *ngIf="getShowBirthYear(resident)" appearance="fill" class="field">
            <mat-label>Birth Year</mat-label>
            <input matInput name="residentBirthYear" type="number" [(ngModel)]="resident.yearOfBirth" [disabled]="!editEnabled">
          </mat-form-field>
          <mat-form-field *ngIf="getShowCollegeName(resident)" appearance="fill" class="field">
            <mat-label>College Name</mat-label>
            <input matInput name="residentCollegeName" [(ngModel)]="resident.collegeName" [disabled]="!editEnabled">
          </mat-form-field>
        </div>
      </div>

      <ng-container *ngIf="resident.residentType !== 2">
        <div class="section">
          <div class="sectionHeader">
            <div class="sectionTitle">Emails</div>
            <button mat-stroked-button color="primary" (click)="addEmail()" *ngIf="editEnabled" aria-label="Add email">Add email</button>
          </div>

          <form class="list" *ngIf="resident.emailAddresses?.length; else noEmails" #residentEmailForm="ngForm">
            <div class="itemCard" *ngFor="let emailAddress of resident.emailAddresses">
              <div class="row">
                <mat-form-field appearance="fill" class="field emailField">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" [name]="'residentEmail_' + (resident.givenName || '') + '_' + (resident.surname || '') + '_' + (emailAddress.address || '')" [(ngModel)]="emailAddress.address" [disabled]="!editEnabled" email required #emailModel="ngModel" aria-label="Resident email address">
                  <mat-error *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)">Enter a valid email address</mat-error>
                </mat-form-field>

                <button mat-icon-button color="warn" aria-label="Delete email" matTooltip="Delete email" (click)="deleteEmail(emailAddress)" *ngIf="editEnabled">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <div class="options">
                <mat-checkbox name="residentEmailVisible" [(ngModel)]="emailAddress.visibleInDirectory" [disabled]="!editEnabled">Show in directory</mat-checkbox>
                <mat-checkbox name="residentEmailBoard" [(ngModel)]="emailAddress.boardEmailOptedIn" [disabled]="!editEnabled" matTooltip="Annual Meeting announcements and other neighborhood business">Receive Board emails</mat-checkbox>
                <mat-checkbox name="residentEmailWelcome" [(ngModel)]="emailAddress.welcomeEmailOptedIn" [disabled]="!editEnabled" matTooltip="New arrivals in the neighborhood">Receive Welcome emails</mat-checkbox>
                <mat-checkbox name="residentEmailGarden" [(ngModel)]="emailAddress.gardenClubEmailOptedIn" [disabled]="!editEnabled" matTooltip="Garden Club meetings and events">Receive Garden Club emails</mat-checkbox>
                <mat-checkbox name="residentEmailSocial" [(ngModel)]="emailAddress.socialCommitteeEmailOptedIn" [disabled]="!editEnabled" matTooltip="Social Committee events">Receive Social Committee emails</mat-checkbox>
                <mat-checkbox name="residentEmailSunshine" [(ngModel)]="emailAddress.sunshineCommitteeEmailOptedIn" [disabled]="!editEnabled" matTooltip="Sunshine Committee events">Receive Sunshine Committee emails</mat-checkbox>
              </div>
            </div>
          </form>

          <ng-template #noEmails>
            <div class="empty">No emails.</div>
          </ng-template>
        </div>

        <div class="section">
          <div class="sectionHeader">
            <div class="sectionTitle">Phones</div>
            <button mat-stroked-button color="primary" (click)="addPhone()" *ngIf="editEnabled" aria-label="Add phone">Add phone</button>
          </div>

          <div class="list" *ngIf="resident.phoneNumbers?.length; else noPhones">
            <div class="itemCard" *ngFor="let phoneNumber of resident.phoneNumbers">
              <div class="row phoneRow">
                <mat-form-field appearance="fill" class="field phoneTypeField">
                  <mat-label>Type</mat-label>
                  <mat-select name="residentPhoneType" [(ngModel)]="phoneNumber.type" [disabled]="!editEnabled">
                    <mat-option value="Mobile">Mobile</mat-option>
                    <mat-option value="Home">Home</mat-option>
                    <mat-option value="Work">Work</mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="phoneInput">
                  <app-phone-number-input [phoneNumber]="phoneNumber" [editEnabled]="editEnabled"></app-phone-number-input>
                </div>

                <button mat-icon-button color="warn" aria-label="Delete phone" matTooltip="Delete phone" (click)="deletePhone(phoneNumber)" *ngIf="editEnabled">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <div class="options">
                <mat-checkbox name="residentPhoneVisible" [(ngModel)]="phoneNumber.visibleInDirectory" [disabled]="!editEnabled">Show in directory</mat-checkbox>
              </div>
            </div>
          </div>

          <ng-template #noPhones>
            <div class="empty">No phones.</div>
          </ng-template>
        </div>
      </ng-container>
    </div>
  </mat-expansion-panel>
</mat-accordion>
