.resident-wrapper {
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.contact-options {
    margin-left: 5px;
}

.filler {
    flex: 1;
}

.action-bar {
    display: flex;
}

.action-bar>button {
    margin-left: 5px;
}

.mat-input-element:disabled {
    color: black;
}

.phoneType {
    width: 100px;
}

.emailInput {
    width: 220px;
}