<mat-toolbar *ngIf="isHidden !== true" color="primary">
  <ng-container *ngIf="navVm$ | async as vm">
  <div class="nav-desktop">
    <span class="badge"> COHAD </span>
    <div>
      <a mat-flat-button color="primary" routerLink="" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a *ngIf="vm.showGuestPrivacy" mat-flat-button color="primary" routerLink="privacy" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}">Privacy
        Policy</a>
      <a mat-flat-button color="primary" *ngIf="vm.showAuthenticatedNav && vm.apiUser?.roles?.includes('Resident')" routerLink="directory" routerLinkActive="mat-accent">Directory</a>
      <a mat-flat-button color="primary" *ngIf="vm.showAuthenticatedNav && vm.apiUser?.roles?.includes('Resident')" routerLink="map" routerLinkActive="mat-accent">Map</a>
      <a mat-flat-button color="primary" *ngIf="vm.showAuthenticatedNav && (vm.apiUser?.roles?.includes('Resident') || vm.apiUser?.roles?.includes('Administrator'))" routerLink="documents" routerLinkActive="mat-accent">Documents</a>
      <a mat-flat-button color="primary" *ngIf="vm.showAuthenticatedNav && vm.apiUser?.roles?.includes('Resident')" routerLink="mydues" routerLinkActive="mat-accent">Dues</a>
      <a mat-flat-button color="primary" routerLink="myinfo" routerLinkActive="mat-accent" *ngIf="vm.showAuthenticatedNav">My
        Info</a>
      <a mat-flat-button color="primary" *ngIf="manageVisible$ | async" routerLink="manage" routerLinkActive="mat-accent">Manage</a>
      <button mat-flat-button color="primary" *ngIf="vm.authUser?.identityClaims?.emails as emails" [matMenuTriggerFor]="userMenu">{{emails[0]}}</button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="toggleTheme()">{{ (isDarkTheme$ | async) ? 'Use light mode' : 'Use dark mode' }}</button>
        <button mat-menu-item (click)="logout()" [disabled]="disabled">Sign Out</button>
      </mat-menu>
      <button mat-button *ngIf="!vm.authUser?.identityClaims?.emails" (click)="login()" [disabled]="disabled">Sign In</button>
    </div>
  </div>
  <div class="nav-mobile">
    <button mat-flat-button color="primary" [matMenuTriggerFor]="hamburgerMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #hamburgerMenu="matMenu">
      <a mat-menu-item color="primary" routerLink="" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a mat-menu-item color="primary" *ngIf="vm.showAuthenticatedNav && vm.apiUser?.roles?.includes('Resident')" routerLink="directory" routerLinkActive="mat-accent">Directory</a>
      <a mat-menu-item color="primary" *ngIf="vm.showAuthenticatedNav && vm.apiUser?.roles?.includes('Resident')" routerLink="map" routerLinkActive="mat-accent">Map</a>
      <a mat-menu-item color="primary" *ngIf="vm.showAuthenticatedNav && (vm.apiUser?.roles?.includes('Resident') || vm.apiUser?.roles?.includes('Administrator'))" routerLink="documents" routerLinkActive="mat-accent">Documents</a>
      <a mat-menu-item color="primary" *ngIf="vm.showAuthenticatedNav && vm.apiUser?.roles?.includes('Resident')" routerLink="mydues" routerLinkActive="mat-accent">Dues</a>
      <a mat-menu-item color="primary" routerLink="myinfo" routerLinkActive="mat-accent" *ngIf="vm.showAuthenticatedNav">My
        Info</a>
      <a mat-menu-item color="primary" *ngIf="manageVisible$ | async" routerLink="manage" routerLinkActive="mat-accent">Manage</a>
      <button mat-button *ngIf="!vm.authUser?.identityClaims?.emails" (click)="login()" [disabled]="disabled">Sign In</button>
      <button mat-menu-item color="primary" *ngIf="vm.authUser?.identityClaims?.emails as emails" [matMenuTriggerFor]="userMenu">{{emails[0]}}</button>
    </mat-menu>
  </div>
  </ng-container>
</mat-toolbar>
