.action-bar>button {
    margin-left: 5px;
}

.residents-container {
    width: fit-content;
    margin-top: 10px;
}

.contact-info {
    display: flex;
}

.contact-options {
    display: flex;
    margin-left: 5px;
}

.filler {
    flex: 1;
}

.mat-input-element:disabled {
    color: black;
}

.phoneType {
    width: 100px;
}

.emailInput {
    width: 220px;
}

.container {
    display: flex;
}