.dropzone-collection {
  display: flex;
  flex-direction: row;
}

.titled-dropzone {
  margin-right: 5px;
}

.dropzone {
  border: 5px solid lightgreen;
  text-align: center;
  width:  250px;
  height: 400px;
}

.dropzone-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.show-printable-directory-button {
  margin-top: 15px
}
