<div>
  <div>
    <h2>Print Directory</h2>
  </div>
  <div fxLayout="row" class="button-row">
    <div>
      <a mat-raised-button color="primary" routerLink="/manage/edit-printable-directory/new">Create New Template</a>
    </div>
    <div>
      <a mat-raised-button color="primary" routerLink="/rendered-print-map">Print Map Only</a>
    </div>
  </div>
  <mat-card class="pd-card">
    <p>To print the directory, choose an existing template below, or create a new template.</p>
    <p>Print settings for the directory must be <strong>5x8 paper</strong> in <strong>portrait mode</strong> to achieve the intended result.</p>
    <p>Print settings for the map must be <strong>letter size paper</strong> in <strong>landscape mode</strong> to achieve the intended result.</p>
  </mat-card>
  <div *ngIf="(printableDirectories | async) as pds">
    <mat-card class="pd-card" *ngFor="let pd of pds">
      <div>Created: {{pd.created | date:'medium'}} by {{pd.createdBy}}</div>
      <div>Updated: {{pd.lastUpdated | date:'medium'}} by {{pd.lastUpdatedBy}}</div>
      <div fxLayout="row">
        <div class="cover-container">
          <img class="cover-image" [src]="pd.frontCoverDataUrl" />
        </div>
        <div class="cover-container">
          <img class="cover-image" [src]="pd.backCoverDataUrl" />
        </div>
      </div>
      <div class="button-row" fxLayout="row">
        <div>
          <a mat-raised-button color="primary" [routerLink]="['/manage/edit-printable-directory', pd.id]">Edit</a>
        </div>
        <div>
          <a mat-raised-button color="primary" routerLink="/rendered-print-directory/{{pd.id}}">Print</a>
        </div>
      </div>
    </mat-card>
  </div>
</div>
