<h2>Print Directory</h2>
<div class="dropzone-collection" *ngIf="(printDirectorySettings | async) as printDirectorySettings">
  <div class="titled-dropzone">
    <h3>Front Cover</h3>
    <div id="front-cover-dropzone" class="dropzone" (dragover)="dragOver($event)" (drop)="frontCoverDrop($event)">
      <div *ngIf="printDirectorySettings.frontCoverDataUrl == null">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="printDirectorySettings.frontCoverDataUrl != null" [src]="printDirectorySettings.frontCoverDataUrl" class="dropzone-image" />
    </div>
  </div>
  <div class="titled-dropzone">
    <h3>Map Left Half</h3>
    <div id="map-left-dropzone" class="dropzone" (dragover)="dragOver($event)" (drop)="mapLeftDrop($event)">
      <div *ngIf="printDirectorySettings.mapLeftDataUrl == null">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="printDirectorySettings.mapLeftDataUrl != null" [src]="printDirectorySettings.mapLeftDataUrl" class="dropzone-image" />
    </div>
  </div>
  <div class="titled-dropzone">
    <h3>Map Right Half</h3>
    <div id="map-right-dropzone" class="dropzone" (dragover)="dragOver($event)" (drop)="mapRightDrop($event)">
      <div *ngIf="printDirectorySettings.mapRightDataUrl == null">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="printDirectorySettings.mapRightDataUrl != null" [src]="printDirectorySettings.mapRightDataUrl" class="dropzone-image" />
    </div>
  </div>
  <div class="titled-dropzone">
    <h3>Back Cover</h3>
    <div id="back-cover-dropzone" class="dropzone" (dragover)="dragOver($event)" (drop)="backCoverDrop($event)">
      <div *ngIf="printDirectorySettings.backCoverDataUrl == null">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="printDirectorySettings.backCoverDataUrl != null" [src]="printDirectorySettings.backCoverDataUrl" class="dropzone-image" />
    </div>
  </div>
</div>
<div>
  <mat-checkbox (change)="addExtraPageBreakChanged($event)">Add Extra Page Break</mat-checkbox>
</div>
<div>
  <a mat-raised-button class="show-printable-directory-button" color="primary" routerLink="/printable-directory">Generate Printable Directory</a>
</div>
