<h2>Print Directory</h2>
<div class="dropzone-collection" *ngIf="(printDirectoryImages | async) as printDirectoryImages">
  <div class="titled-dropzone">
    <h3>Front Cover</h3>
    <div id="front-cover-dropzone" class="dropzone" (dragover)="dragOver($event)" (drop)="frontCoverDrop($event)">
      <div *ngIf="printDirectoryImages.frontCoverDataUrl == null">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="printDirectoryImages.frontCoverDataUrl != null" [src]="printDirectoryImages.frontCoverDataUrl" class="dropzone-image" />
    </div>
  </div>
  <div class="titled-dropzone">
    <h3>Map Left Half</h3>
    <div id="map-left-dropzone" class="dropzone" (dragover)="dragOver($event)" (drop)="mapLeftDrop($event)">
      <div *ngIf="printDirectoryImages.mapLeftDataUrl == null">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="printDirectoryImages.mapLeftDataUrl != null" [src]="printDirectoryImages.mapLeftDataUrl" class="dropzone-image" />
    </div>
  </div>
  <div class="titled-dropzone">
    <h3>Map Right Half</h3>
    <div id="map-right-dropzone" class="dropzone" (dragover)="dragOver($event)" (drop)="mapRightDrop($event)">
      <div *ngIf="printDirectoryImages.mapRightDataUrl == null">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="printDirectoryImages.mapRightDataUrl != null" [src]="printDirectoryImages.mapRightDataUrl" class="dropzone-image" />
    </div>
  </div>
  <div class="titled-dropzone">
    <h3>Back Cover</h3>
    <div id="back-cover-dropzone" class="dropzone" (dragover)="dragOver($event)" (drop)="backCoverDrop($event)">
      <div *ngIf="printDirectoryImages.backCoverDataUrl == null">
        <div class="icon">
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <div>
          <span>Drop file here</span>
        </div>
      </div>
      <img *ngIf="printDirectoryImages.backCoverDataUrl != null" [src]="printDirectoryImages.backCoverDataUrl" class="dropzone-image" />
    </div>
  </div>
</div>
<div>
  <a mat-raised-button class="show-printable-directory-button" color="primary" routerLink="/printable-directory">Generate Printable Directory</a>
</div>
