<mat-form-field appearance="fill">
    <mat-label>Given Name</mat-label>
    <input matInput [(ngModel)]="apiUserCopy.givenName">
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Surname</mat-label>
    <input matInput [(ngModel)]="apiUserCopy.surname">
</mat-form-field>

<div class="wide-input">
    <mat-form-field appearance="fill">
        <mat-label>Street Address</mat-label>
        <input matInput [(ngModel)]="apiUserCopy.streetAddress">
    </mat-form-field>
</div>

<div class="wide-input">
    <mat-form-field>
        <mat-chip-list #roleChipList area-label="Role selection">
            <mat-chip *ngFor="let role of apiUserCopy.roles" [removable]="removable" (removed)="removeRole(role)">
                {{role}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Roles" #roleInput [formControl]="roleControl" [matChipInputFor]="roleChipList"
                [matAutocomplete]="roleAuto" [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                (matChipInputTokenEnd)="addRole($event)">
        </mat-chip-list>
        <mat-autocomplete #roleAuto="matAutocomplete" (optionSelected)="selectedRole($event)">
            <mat-option *ngFor="let role of allRoles" [value]="role">
                {{role}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>

<div class="wide-input">
    <mat-form-field>
        <mat-chip-list #chipList area-label="Home selection">
            <mat-chip *ngFor="let home of apiUserCopy.ownedHomes" [removable]="removable" (removed)="removeHome(home)">
                {{home.streetNumber}}
                {{home.streetName}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Homes" #homeInput [formControl]="homeControl" [matChipInputFor]="chipList"
                [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                (matChipInputTokenEnd)="addHome($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedHome($event)">
            <mat-option *ngFor="let home of filteredHomes | async" [value]="home">
                {{home.streetNumber}} {{home.streetName}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>

<div class="action-bar">
    <button mat-flat-button color="primary" (click)="save()" [disabled]="saveInProgress">Save Changes</button>
    <button mat-flat-button color="warn" (click)="cancel()" [disabled]="saveInProgress">Cancel</button>
</div>