<app-header [title]="title" [subtitles]="subtitles" imagePath="assets/trees1.jpg"></app-header>
<div class="container">
  <div class="row">
    <div class="col centered">
      <h1 class="display-4">Welcome to Canyon Oaks!</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md">
      <img class="constrained-image" src="assets/image1.jpg">
    </div>
    <div class="col-md centered">
      <h4>About Us</h4>
      <h3 class="font-weight-lighter mt-2">Find out about our HOA and what we do for the neighborhood.</h3>
      <a class="btn btn-success mt-3" routerLink="about">Learn More</a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md centered">
      <h4>Get Involved</h4>
      <h3 class="font-weight-lighter mt-2">Join the Garden Club, volunteer for the Sunshine Committee, or help out
        with other neighborhood activities.</h3>
      <a class="btn btn-success mt-3" routerLink="about">Find Out How</a>
    </div>
    <div class="col-md">
      <img class="constrained-image" src="assets/image2.jpg">
    </div>
  </div>
</div>
