.constrained-image {
    max-width: 100%;
    margin-top: 5px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    margin-bottom: 50px;
}

/* Somehow, using bootstrap responsive font size made
   the buttons not clickable at large viewports when
   Home first loads. So, use this kludge for now.
*/
.btn {
    z-index: 100;
}